<!--
{{shapeIndex}} is just incremental and should always be unique, even when loading the same file several times.
{{ shapeNameOverall }} is shapeName + "-" + that.shapeCounter;
{{fileID}} kind of useless, give the info to what files it's related
{{shapeName}} is a string that describes the shape
{{ red }}, {{ green }}, {{ blue }} and {{ alpha }} are for background color

About the 0.0101 slider step, this is because it's easier to track a 0.01 gap when the gap
is just a bit higher (just a trick)
-->

<div id="shape_{{ shapeIndex }}" class="opacityWidget" shapeName="{{ shapeName }}" fileID="model_{{ fileID }}" shapeNameOverall="{{ shapeNameOverall }}">
  <div class="name">
    {{ shapeName }}
  </div>
  <div class="aligned">
    <div class="opacityLogo">
      <i class="fa fa-adjust contrastLogo" aria-hidden="true"></i>
    </div>
    <div style="background-color: rgba({{ red }}, {{ green }}, {{ blue }}, {{ alpha }}); width: 70%">
      <input class="slider" type="range" name="points" min="0" max="1" step="0.0101"  autocomplete="off" value="1" previousValue="1" style="width: 150px">
    </div>
    <div class="buttonBB noselect toggleShape" visible="1" title="Hide the shape {{ shapeName }}">
      <i class="fa fa-eye eyeicon" aria-hidden="true"></i>
    </div>
    <div class="buttonBB noselect focusShape" focus="1" title="Show only the shape {{ shapeName }}">
      <i class="fa fa-dot-circle-o focusicon" aria-hidden="true"></i>
    </div>
  </div>
</div>
<div class="separator"></div>
