<!DOCTYPE html>
<html>
<head>
  <style>
    dt {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>BrainBrowser Surface Viewer Web Service Information</h1>
  <h2>Basic Information</h2>
  <dl>
    <dt>Name</dt><dd>{{info.name}}</dd>
    <dt>Version</dt><dd>{{info.version}}</dd>
    <dt>Synopsis</dt><dd>{{info.synopsis}}</dd>
    <dt>Release Time</dt><dd>{{info.releaseTime}}</dd>
    <dt>Category</dt><dd>{{info.category}}</dd>
    <dt>Research Subject</dt><dd>{{info.researchSubject}}</dd>
    <dt>Support Email</dt><dd>{{info.supportEmail}}</dd>
    <dt>Tags</dt><dd>{{info.tags}}</dd>
  </dl>
  <h2>Provenance</h2>
  <p>
    New versons of the Surface Viewer Web Service are authorized by Tarek Sherif (<a href="mailto:tsherif@bic.mni.mcgill.ca">tsherif@bic.mni.mcgill.ca</a>).
  </p>
  <p>
    New versions of the BrainBrowser library are tested against the sample applications at 
    <a href="https://brainbrowser.cbrain.mcgill.ca">https://brainbrowser.cbrain.mcgill.ca</a>, 
    which test all of the features currently available. New versions of the web service are tested against sample applications.
  </p>
  <p>
    Documentation for the BrainBrowser library can be found <a href="https://brainbrowser.cbrain.mcgill.ca/docs">here</a>.
    Documentation for the Surface Viewer web service can be found <a href="https://brainbrowser.cbrain.mcgill.ca/#web-service">here</a>.
  </p>
  <p>
    The Surface Viewer web service tracks the dependencies between specific versions of BrainBrowser and the libraries it uses
    (currently, only <a href="http://threejs.org/">three.js</a>). The web service will import the correct version
    of any dependencies for the version of BrainBrowser requested by the user.
  </p>
</body>
</html>