<!DOCTYPE html>
<head>
  <link rel="icon" type="image/png" href="img/brainbrowser.png">
  <title>
    {{#if fmri}}
      BrainBrowser fMRI Viewer
    {{else}}
      BrainBrowser Volume Viewer
    {{/if}}
    v{{version}}
  </title>
  <link type="text/css" href="/css/ui-darkness/jquery-ui-1.8.10.custom.css" rel="Stylesheet" />
  <link type="text/css" href="/css/common.css" rel="Stylesheet" />
  <link type="text/css" href="/css/volume-viewer-demo.css" rel="Stylesheet" />
  {{#ifenv "loris"}}
    <link rel="stylesheet" href="/loris/css/jslider.css" type="text/css" />
	  <link rel="stylesheet" href="/loris/css/jslider.blue.css" type="text/css" />
    <link rel="Stylesheet" href="/loris/css/braincanvas.loris.css" type="text/css"/>
  {{/ifenv}}
</head>
<body>
  <h1 id="app-name" class="app-label">
    {{#if fmri}}
      fMRI Viewer
    {{else}}
      Volume Viewer
    {{/if}}
    v{{version}}
  </h1>
  <script id="volume-ui-template" type="x-volume-ui-template">
    <div class="volume-viewer-display">
    </div>
    <div class="volume-viewer-controls volume-controls">
      
      <div class="coords">
        <div class="control-heading" id="world-coordinates-heading-\{{VOLID}}">
          World Coordinates: 
        </div>
        <div class="world-coords" data-volume-id="\{{VOLID}}">
          X:<input id="world-x-\{{VOLID}}" class="control-inputs">
          Y:<input id="world-y-\{{VOLID}}" class="control-inputs">
          Z:<input id="world-z-\{{VOLID}}" class="control-inputs">
        </div>
        <div class="control-heading" id="voxel-coordinates-heading-\{{VOLID}}">
          Voxel Coordinates: 
        </div>
        <div class="voxel-coords" data-volume-id="\{{VOLID}}">
          X:<input id="voxel-x-\{{VOLID}}" class="control-inputs">
          Y:<input id="voxel-y-\{{VOLID}}" class="control-inputs">
          Z:<input id="voxel-z-\{{VOLID}}" class="control-inputs">
        </div>
      </div>
      
      <div id="color-map-\{{VOLID}}">
        <span class="control-heading" id="color-map-heading-\{{VOLID}}">
          Color Map: 
        </span>
        <select class="color-map-select" data-volume-id="\{{VOLID}}">
          <option value="0" selected="">Spectral</option>
          <option value="1">Thermal</option>
          <option value="2">Gray</option>
          <option value="3">Blue</option>
          <option value="4">Green</option>
        </select>
      </div>

      <div class="threshold-div" data-volume-id="\{{VOLID}}">
        <div class="control-heading">
          Threshold: 
        </div>
        <div class="thresh-inputs">
          <input id="min-threshold-\{{VOLID}}" class="control-inputs thresh-input-left" value="0"/>
          <input id="max-threshold-\{{VOLID}}" class="control-inputs thresh-input-right" value="255"/>
        </div> 
        <div class="slider volume-viewer-threshold" id="threshold-slider-\{{VOLID}}"></div>
      </div>

      {{#if fmri}}
      <div id="time-\{{VOLID}}" class="time-div" data-volume-id="\{{VOLID}}">
        <span class="control-heading">Time:</span>
        <input class="control-inputs" value="0" id="time-val-\{{VOLID}}"/>
        <div class="slider volume-viewer-threshold" id="threshold-time-slider-\{{VOLID}}"></div>
        <input type="checkbox" class="button" id="play-\{{VOLID}}"><label for="play-\{{VOLID}}">Play</label>
      </div>
      {{/if}}

      <div id="slice-series-\{{VOLID}}" class="slice-series-div" data-volume-id="\{{VOLID}}">
        <div class="control-heading" id="slice-series-heading-\{{VOLID}}">All slices: </div>
        <span class="slice-series-button button" data-axis="xspace">Sagittal</span>
        <span class="slice-series-button button" data-axis="yspace">Coronal</span>
        <span class="slice-series-button button" data-axis="zspace">Transverse</span>
      </div>
      
    </div>
  </script>
  <script id="overlay-ui-template" type="x-volume-ui-template">
    <div class="overlay-viewer-display">
    </div>
    <div class="volume-viewer-controls volume-controls">
      
      <div class="coords">
        <div class="control-heading" id="world-coordinates-heading-\{{VOLID}}">
          World Coordinates: 
        </div>
        <div class="world-coords" data-volume-id="\{{VOLID}}">
          X:<input id="world-x-\{{VOLID}}" class="control-inputs">
          Y:<input id="world-y-\{{VOLID}}" class="control-inputs">
          Z:<input id="world-z-\{{VOLID}}" class="control-inputs">
        </div>
        <div class="control-heading" id="voxel-coordinates-heading-\{{VOLID}}">
          Voxel Coordinates: 
        </div>
        <div class="voxel-coords" data-volume-id="\{{VOLID}}">
          X:<input id="voxel-x-\{{VOLID}}" class="control-inputs">
          Y:<input id="voxel-y-\{{VOLID}}" class="control-inputs">
          Z:<input id="voxel-z-\{{VOLID}}" class="control-inputs">
        </div>
      </div>

      <div class="blend-div" data-volume-id="\{{VOLID}}">
        <span class="control-heading" id="blend-heading\{{VOLID}}">Blend (0.0 to 1.0):</span>
        <input class="control-inputs" value="0.5" id="blend-val"/>
        <div id="blend-slider" class="slider volume-viewer-blend"></div>
      </div>
      
    </div>
  </script>
  <div id="loading" style="display: none"><img src="/img/ajax-loader.gif" /></div>
  <div id="brainbrowser-wrapper" style="display:none">
    <div id="volume-viewer">
      <div id="global-controls" class="volume-viewer-controls">
        <input type="checkbox" class="button" id="sync-volumes"><label for="sync-volumes">Sync Volumes</label>
        <span id="capture-slices" class="button">Capture Slices</span>
      </div>
      <div id="brainbrowser"></div>
    </div>
  </div>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/js/lib/jquery-ui-1.8.10.custom.min.js"></script>
  <script type="text/javascript" src="/js/ui/common.js"></script>
  {{#ifenv "production"}}
    <script type="text/javascript" src="/js/brainbrowser/brainbrowser.volume-viewer.min.js"></script>
  {{else}}
    <script type="text/javascript" src="/js/brainbrowser/lib/utils.js"></script>
    <script type="text/javascript" src="/js/brainbrowser/lib/color_map.js"></script> 
    <script src="/js/brainbrowser/volume-viewer.js"></script>
    <script src="/js/brainbrowser/volume-viewer/lib/display.js"></script>
    <script src="/js/brainbrowser/volume-viewer/lib/loader.js"></script>
    <script src="/js/brainbrowser/volume-viewer/lib/utils.js"></script>
    <script src="/js/brainbrowser/volume-viewer/volumes/overlay.js"></script>
    <script src="/js/brainbrowser/volume-viewer/volumes/minc_data.js"></script>
    <script src="/js/brainbrowser/volume-viewer/volumes/minc.js"></script>
    {{#ifenv "loris"}}
      <script src="/loris/js/jquery-ui.toggleSwitch.js"></script>
      <script src="/loris/js/jshashtable-2.1_src.js"></script>
      <script src="/loris/js/jquery.numberformatter-1.2.3.js"></script>
      <script src="/loris/js/tmpl.js"></script>
      <script src="/loris/js/jquery.dependClass-0.1.js"></script>
      <script src="/loris/js/draggable-0.1.js"></script>
      <script src="/loris/js/jquery.slider.js"></script>
      <script src="/loris/js/braincanvas.loris_ui_controls.js"></script>
    {{/ifenv}}
  {{/ifenv}}
  <script type="text/javascript" src="/js/brainbrowser.config.js"></script> 
  {{#if fmri}}
    <script src="/js/fmri-viewer.js"></script> 
  {{else}}
    <script src="/js/volume-viewer-demo.js"></script> 
  {{/if}}  
</body>      
